{% extends 'cadastros/base.html'%}

{% load static %}
<!-- Carrega o plugin do boostrap 4 -->
{% load crispy_forms_tags %}

{% block conteudo %}
<div class="container py-5">

    <div class="row mt-5">
        <div class="col-lg">
            <h3>{{ titulo }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">

                {% if request.user.is_authenticated %}

                <h4 class="mt-4 text-danger">Você não pode fazer isso!</h4>
    
                Redirecionando para a página inicial em 5 segundos...
                <meta http-equiv="Refresh" content="5; url={% url 'index' %}" />
    
                {% else %}

            <form method="post">
                <!-- Todo formulário tem que ter essa validação -->
                {% csrf_token %}
                <!-- Gera o formulário -->
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">
                    {{ botao }}
                </button>
            </form>

            {% endif %}

        </div>
    </div>
    
</div>
{% endblock %}

{% block rodape %}

{% endblock %}
{% block scripts %}
    <script src="{% static 'vendor/mask/jquery.mask.min.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function(){
        var SPMaskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
        spOptions = {
            onKeyPress: function(val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };

        $('input[id*=telefone_').mask(SPMaskBehavior, spOptions);
        $('#id_nascimento').mask('00/00/0000');
        $('#id_cpf').mask('000.000.000-00', {reverse: true});
    });
    
  </script>
  {% endblock %}