{% extends 'cadastros/base.html'%}

{% load static %}
<!-- Carrega o plugin do boostrap 4 -->
{% load crispy_forms_tags %}

{% block conteudo %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg">
            <h3>{{ titulo }}</h3>

            {% if botao == 'Excluir' %}

            <h4>{{ object }}</h4>

            {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">

            <form method="post">
                <!-- Todo formulario tem que ter essa validação -->
                {% csrf_token %}

                {{ form|crispy }}

                <button type="submit" class="btn {{ classeBotao }}">
                    {{ botao }}
                </button>
                <a href="{% url 'index' %}" class="btn btn-primary">
                    Voltar
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block rodape %}
{% endblock %}

{% block script %}

<script src="{% static 'js/jquery.mask.js' %}"></script>

<script>
    $(document).ready(function () {
        alert("ok");
        $("#id_data").attr("type", "date");
        $("#id_hora").attr("type", "time");
        // $('.time').mask('00:00:00');
        // $('input[type=date]').mask('00/00/0000');
        // $('input[type=datetime]').mask('00/00/0000 00:00:00');
        $('#id_cpf').mask('000.000.000-00');
        $('#id_rg').mask('000.000.000-0', { reverse: true });
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 0 0000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };
        $('input[name*=telefone]').mask(SPMaskBehavior, spOptions);
        $('input[name*=dataChegada]').mask('00/00/0000');
        $('input[name*=cep]').mask('00000-000');

    });
</script>



{% endblock %}